{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Alydine - Connexion{% endblock %}

{% block fos_user_content %}
<div>
  <a class="home-link" href="{{ path("alydine_front_homepage") }}">Retour au site</a>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 text-center">
      <img class="logo" src="{{ asset("/images/logo.png") }}">
    </div>
  </div>
  {% if error %}
    <div class="row">
      <div class="col-md-offset-4 col-md-4 text-center alert alert-danger">
        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
      </div>
    </div>
  {% endif %}
</div>
<form role="form" class="form-horizontal" class="form-control" action="{{ path("fos_user_security_check") }}" method="post">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="form-group">
    	<div class="col-md-2 col-md-offset-5">
    		<input placeholder="Identifiant" class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
    	</div>
    </div>
    <div class="form-group">
    	<div class="col-md-2 col-md-offset-5">
   			<input placeholder="Mot de passe" class="form-control" type="password" id="password" name="_password" required="required" />
   		</div>
    </div>
   	<div class="form-group">
   		<div class="col-md-4 col-md-offset-4 text-center">
   			<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    		<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
   		</div>
   	</div>
   	<div class="form-group">
   		<div class="col-md-12 text-center">
   			<input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
   		</div>
   	</div>
</form>

{% endblock fos_user_content %}
